.smallP1 {
	color:#00F;
	font-size:28px;
	margin:8px;	
	text-align:center;
}
.smallP2 {
	color:#00F;
	font-size:18px;
	margin:8px;	
	text-align:center;
}

h1{
	color: #006699;
    font-size:28px;
}

p{
	font-size: 30px;
}

input{
	width:280px;
	font-size: 32px;
}

#displayTable{
    margin: 0px auto 30px auto;
}

#tableID{
	border: 1px solid;
	border-radius: 3px;
	margin: 0px auto;
	clear: both;
}

#social {
    margin:0px auto;
}

body{
	width: 640px;
	height:920px;	
	margin:0px auto;
}

#mainFrame {
	width:640px;
	height:920px;
	border: 1px solid;
	border-radius:3px;
	padding:0px;
	margin:0px auto;
	background:#CFC;
	clear:both;	
}

tr {
    height: 32px;
}

td{
	font-size: 28px;

}

button{
	width:200px;
	height: 88px;
	font-size: 68px;
}




